.Page__inputURL{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Page__Table{
    margin: 1px 200px 0 200px;
    border: 2px solid #f1f2f1;
    border-radius: 5px;
  }